body {
    font: 14px "Arial", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}
/* Square Style */
.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square:hover {
	background-color: aqua;
}

.square.square-current {
	background-color: greenyellow;
	color: rgb(51, 0, 255);
}
.square.square-winner {
	color: red;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

/* Game Style */
.game {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.game-setting {
	display: flex;
	justify-content: left;
}

.game-setting-size {
	margin-right: 20px;
}
.game-setting-start-btn {
	background-color: aqua;
	width: 60px;
}

.game-guide {
	margin: 20px 0;
}

.game-guide-highlight {
	color: red;
}
.game-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.game-info {
	margin-left: 20px;
}

.status {
	margin-bottom: 10px;
	color: red;
}

.bold {
	font-weight: 700;
}

.btn {
	display: flex;
	align-items: center;
}

.btn .icon-up {
	margin-top: 5px;
	margin-left: 5px;
}

.btn .icon-down {
	margin-bottom: 5px;
	margin-left: 5px;
}

/* Board Style */
.board-row:after {
	clear: both;
	content: "";
	display: table;
}
